<script>
  function setRandomImage() {
    var postcards = ["1.png", "2.png", "3.png", "4.png", "5.png", "6.png", "7.png", "8.png"];
    var imageElement = document.getElementById("postcard");
    var srcLastSegment = imageElement.src.split("/").pop();
    var currentPostcard = postcards.indexOf(srcLastSegment);
    console.log(currentPostcard);
    if (currentPostcard !== -1) {
      postcards.splice(currentPostcard, 1);
    }
    const randomPostcard = Math.floor(Math.random() * postcards.length);
    imageElement.src = postcards[randomPostcard];
  }
  window.onload = function(){   
    setRandomImage();
  };
</script>